.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.5rem;




}




.ParticleBackground{
    position: fixed !important;
display: block;
}

.portfolio__item{
    background-image: var( --background-gradient);
    margin: 10px;
  
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
   
    display: block;
 
    border: 1px solid transparent;
    transition: var(--transition);
    }

    .portfolio__item:hover{
        border-color: var(--color-primary-variant);
        animation: bounce 0.8s ease-in ;
       
    }

    .portfolio__item-image{
        height:10rem;
        border-radius: 5px;
        overflow: hidden;

    }

    .portfolio__item h3{

        margin: 1.2rem 0 2 rem;

    }

    .portfolio__item-cta{
        display: flex;
        gap:1rem;
        margin-bottom: 1rem;
    }


    
/*---------------------------------------media query for medium devices*/
@media screen and (max-width:1024px) {
   
.portfolio__container{
    grid-template-columns: 1fr 1fr;
    gap:1.2rem;
}
    
}

/*---------------------------------------media query for small devices*/
@media screen and (max-width: 600px) {
    
.portfolio__container{
    grid-template-columns: 1fr;
    gap: 1rem;
}
    
}
